body{
}

.collapse{
  justify-content: flex-end;
}
.navbar{
  background: white !important;
  padding: 0%;
}

.navbar img {
  height: 30px;
}

/*  Main  */
.header {
  padding: 0px;
}
.header img{
  height: 30vh;
  width: 45vw;
}

.main-container{
  margin: auto;
  height: 95vh;
  width: 99vw;
}
/* /Main   */

/* Nosotros */
.nosotros{
  background: #2485AA;
  height: 100vh;
}

h2, p{
  color: white;
}
.nosotros-row{
  height: 100%;
}
.Nosotros-image{
  /* display: flex;
  align-items: flex-end; */
  /* justify-content: center;
  padding-bottom: 20%; */
}
.Nosotros-image img{
  max-width: 60vw;
  margin-bottom: 30px;
}
/* /Nosotros */

/* Contenido */
.contenido {
  height: 100vh;
}

.contenido-tittle h2{
  color: #2485AA;
  font-weight: 200;
}

/* /Contenido */

/* Contacto */
.contacto{
  height: 90vh;
  background-color: #2485AA;
}
.contacto h2{
  margin-top: 40px;
}
.contacto img{
  height: 50px;
  width: 50px;
}
.fila-contacto{
  height: 100%;
}
/* /Contacto */